
<!DOCTYPE html>
<form [formGroup]="gitForm"  class="git">
<div class="form-group">
  <div>
    <mat-form-field appearance="outline" [hideRequiredMarker]="true" style="width: 500px;">
      <mat-label for="username">GIT USERNAME</mat-label>
      <input id="username" formControlName="username" type="text" matInput placeholder="Enter GIT USERNAME">
    </mat-form-field>
  </div>
  <p></p>

  <div class="form-group">
    
      <mat-form-field appearance="outline" [hideRequiredMarker]="true" style="width: 500px;">
        <mat-label for="password">Password</mat-label>
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
      <div class=button><a [routerLink]="['/table']">
      <button mat-raised-button color="primary" (click)="postDetails()">Submit</button>
      </a>
      </div>
</div>
</div>
</form>