
<div class="container">
  <div>
    <mat-form-field appearance="outline" [hideRequiredMarker]="true" style="width: 500px;">
      <mat-label>GIT CLONE PATH</mat-label>
      <input type="text" matInput placeholder="Enter GIT URL">
    </mat-form-field>
  </div>
  <p></p>

  <div class="container">
    <div>
      <mat-form-field appearance="outline" [hideRequiredMarker]="true" style="width: 300px;">
        <mat-label>Environment</mat-label>
        <input type="text" matInput placeholder="Environment">
      </mat-form-field>
    </div>
