<form [formGroup]="authForm2" (ngSubmit)="onSubmit()" class="auth">
    <div class="form-group">
        <div>
          <mat-form-field appearance="outline" [hideRequiredMarker]="true" style="width: 500px;">
            <mat-label for="username">GIT USERNAME</mat-label>
            <input id="username" formControlName="username" type="text" matInput placeholder="Enter GIT USERNAME">
          </mat-form-field>
        </div>
        <p></p>
      
        <div class="form-group">
          
            <mat-form-field appearance="outline" [hideRequiredMarker]="true" style="width: 500px;">
              <mat-label for="password">Password</mat-label>
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
        </div>  
            
    <div class="form-group">
        <div>
          <mat-form-field appearance="outline" [hideRequiredMarker]="true" style="width: 500px;">
            <mat-label for="mie">MIE token</mat-label>
            <input id="username" formControlName="mie" type="text" matInput placeholder="Enter MIE token">
        </mat-form-field>
        </div>
      <p></p>
    </div>
    <div class="form-group">
        
        <mat-form-field appearance="outline" [hideRequiredMarker]="true" style="width: 500px;">
            <mat-label for="token">Authtoken</mat-label>
            <input type="text" matInput placeholder="Enter authtoken" formControlName="token">
        </mat-form-field>
    </div>
    </div>
    </form>
